<!DOCTYPE html>
<html>
<head>
	<title>Fundc数据中心</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>

	<link rel="shortcut icon" href="/static/favicon.ico" />
	<link type='text/css' media='screen' href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
	<link type='text/css' media='screen' href='/static/bootstrap/css/bootstrap-responsive.min.css' rel='stylesheet'>
    <script src='/static/jquery/jquery.min.js'></script>
    <script src="/static/echarts/esl.js"></script>
</head>

<body>
	<div style='margin:2px'>
	<ul class="nav nav-pills" role="tablist">
	  <li role="presentation"><a href="/kchart">沪深股市</a></li>
	  <li role="presentation"><a href="#">美股</a></li>
	  <li role="presentation"><a href="#">港股</a></li>
	  <li role="presentation" class="active"><a href="/btchart">比特币</a></li>
	</ul>
	</div>

	<div style='margin:2px'>&nbsp;
	&nbsp;&nbsp;<a href="javascript:reload(1)">1小时走势</a>
	&nbsp;&nbsp;<a href="javascript:reload(3)">3小时走势</a>
	&nbsp;&nbsp;<a href="javascript:reload(6)">6小时走势</a>
	&nbsp;&nbsp;<a href="javascript:reload(12)">12小时走势</a>
	&nbsp;&nbsp;<a href="javascript:reload(24)">1天走势</a>
	&nbsp;&nbsp;<a href="javascript:reload(72)">3天走势</a>
	&nbsp;&nbsp;<a href="javascript:reload(168)">7天走势</a>
	&nbsp;&nbsp; <input type="checkbox" id="refresh" name="refresh" value="1">自动刷新
	</div>

    <div id="line" style="height:400px;border:1px solid #ccc;padding:10px 0px 0px 0px;">Loading...</div>
    <div id="bar" style="height:160px;"></div>
 
	<script type="text/javascript">
		function makeLineOption() {
option = {
    title : {
        text: '  {{hours_desc}}内比特币价格走势'
    },
    tooltip : {
        trigger: 'axis',
        formatter: function (params) {
            var res = params[0].name;
            res += '<br/>  开盘: ' + params[0].value[0] + '  最高: ' + params[0].value[3];
            res += '<br/>  收盘: ' + params[0].value[1] + '  最低: ' + params[0].value[2];
            return res;
        }
    },
    legend: {
        data:['价格']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: false},
            dataZoom : {show: true},
            dataView : {show: true, readOnly: true},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : {{xAxis|safe}}
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale: true,
            axisLabel : {
                formatter: '{value}元'
            }
        }
    ],
    series : [
        {
            name:'价格',
            type:'k',
            barMaxWidth: 20,
            itemStyle: {
                normal: {
                    color: 'red', 	// 阳线填充颜色
                    color0: 'green', // 阴线填充颜色
                    lineStyle: {
                        width: 1,
                        color: 'red',    // 阳线边框颜色
                        color0: 'green'  // 阴线边框颜色
                    }
                },
                emphasis: {
                    color: 'pink',         // 阳线填充颜色
                    color0: 'lightgreen'   // 阴线填充颜色
                }
            },
            data:{{series|safe}},
            markLine : {
                data : [
			        [
	                    {name : '最高价', value : {{max_y}}, xAxis: '{{min_x}}', yAxis: {{max_y}}},
	                    {name : '最低价', value : {{max_y}}, xAxis: '{{max_x}}', yAxis: {{max_y}}},
    				],
			        [
	                    {name : '最高价', value : {{min_y}}, xAxis: '{{min_x}}', yAxis: {{min_y}}},
	                    {name : '最低价', value : {{min_y}}, xAxis: '{{max_x}}', yAxis: {{min_y}}},
    				],
                ],
	            itemStyle: {
	                normal: {
	                    color: 'blue'
	                }
	            }
            },
        }
    ]
};
        	return option;
		}

		function makeBarOption() {
option = {
    title : {
        text: ''
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[]
    },
    toolbox: {
        show : false
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : {{xAxis|safe}}
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale: true,
            axisLabel : {
                formatter: '{value}'
            }
        }
    ],
    series : [
        {
            name:'成交量',
            type:'bar',
            data:{{volumns|safe}}
        }
    ]
};
        	return option;
		}

		require.config({
		        paths:{
		            'echarts': '/static/echarts/echarts',
		            'echarts/chart/k' : '/static/echarts/chart/k',
		            'echarts/chart/line': '/static/echarts/chart/line',
		            'echarts/chart/bar': '/static/echarts/chart/bar',
		        }
		});
  
		require(
	        [
	            'echarts',
	            'echarts/chart/k',
	            'echarts/chart/line',
	            'echarts/chart/bar'
	        ],
	        function(ec) {
				option = makeLineOption();
	            myChart = ec.init(document.getElementById('line'));                           
	            myChart.setOption(option);
				option = makeBarOption();
	            myChart = ec.init(document.getElementById('bar'));                           
	            myChart.setOption(option);
	        }
    	);

		$(function() {
			{%if refresh%}
			autoReload();
			{%endif%}

			$("#refresh").click(function(){
				refreshClick();
			});
		});

		function autoReload() {
			var timeout="60000";
			timeoutHandler = setTimeout("reload({{hours}})", timeout);
			$("#refresh").attr('checked', true);
		}

		function reload(hours) {
			if($("#refresh").attr('checked')) {
				window.location="/btchart/?h=" + hours + "&r=1";
			} else {
				window.location="/btchart/?h=" + hours + "&r=0";
			}
		}

		function refreshClick() {
			if($("#refresh").attr('checked')) {
				window.location="/btchart/?h={{hours}}&r=0";
			} else {
				window.location="/btchart/?h={{hours}}&r=1";
			}
		}

    </script>  
</body>  